**Exercise 1**

In [1]:
z=3
z=z+4

In [2]:
print("z is",z)

z is 7

**Exercise 2**

In [10]:
x="Go Bears!"
len(x) #gives the length of string, including blank space
# also the ! ? . ,

9

**Exercise 3**

In [26]:
import time
time.time()

1575356486.525027

**Exercise 4**

In [30]:
import time as t
t.time() # just simplify the time as t, easy to use the funtion

1575356550.330328

**Exercise 5**

In [34]:
D=float(10000)
r=float(0.025)
T=int(30)

**Exercise 6**

In [41]:
PDV=D/(1+r)**T
PDV # Remeber ** means power

4767.426851809713

**Exercise 7**

In [54]:
x=1.05
y=1.02
import math
(x-y)/x

0.02898753687325232

In [56]:
math.log(x)-math.log(y)

0.02898753687325232

**Exercise 8**

In [59]:
x="What's wrong with this string"

**Exercise 9**

In [62]:
x="Hello "
y="World"
x+y

'Hello World'

**Exercise 10**

In [63]:
test="abc"

In [65]:
test.replace("c","d")

'abd'

**Exercise 11**

In [104]:
price="/$6.50"

In [107]:
clean_price=price.replace("/$","")

In [109]:
float(clean_price)

6.5

**Exercise 12**

In [114]:
growth_rate_world=str((85.804-80.891)/80.891)

In [116]:
growth_rate_world

'0.06073605221841733'

**Exercise 13**

In [124]:
country="World"
GDP=80.891
year=2017
my_string=f"{country} had ${GDP} trillion GDP in {year}"
print(my_string)

World had $80.891 trillion GDP in 2017

**Exercise 14**

In [125]:
gdp_string="The {quarter} quarter revenue was {amount}M"
gdp_string.format(quarter="1st", amount=110)

'The 1st quarter revenue was 110M'

**Exercise 15**

In [127]:
x=2
y=2
z=4

In [128]:
# Statement 1
x>z

False

In [129]:
# Statement 2
x==y

True

In [130]:
# Statement 3
(x<y) and (x>y)

False

In [131]:
# Statement 4
(x<y) and (x>=y)

False

In [132]:
# Statement 5
(x<=y) and (x>=y)

True

**Exercise 16**

In [133]:
all([True,True,True])

True

In [134]:
all([False,True,False])

False

In [135]:
all([False,False,False])

False

In [136]:
any([True,True,True])

True

In [137]:
any([False,True,False])

True

In [138]:
any([False,False,False])

False